<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>每天都被自己帅醒!</title>
  <link rel="stylesheet" href="">
  <script type="text/javascript" src="../js/vue.js"></script>
</head>

<body>
  <div id="app">
    <fieldset>
      <legend>遍历数组</legend>
      <ol>
        <!--item是数组中的每一项,index是索引-->
       <li v-for="(item,index) in persons" :key="index">
         索引:{{index}}----id:{{item.id}}---名字:{{item.name}}---年龄:{{item.age}}
       </li>
      </ol>
      <hr>
      <ul>
        <li v-for="item in persons" :key="item.id">
            id:{{item.id}}---名字:{{item.name}}---年龄:{{item.age}}
        </li>
      </ul>
    </fieldset>
    <hr>
    <fieldset>
      <legend>遍历对象</legend>
      <ul>
        <li v-for="(val,key,index) in obj" :key="index">
          {{key}}------{{val}}-----{{index}}
        </li>
      </ul>
    </fieldset>
  </div>
<script type="text/javascript">
  
  const vm = new Vue({
    el:'#app',
    data:{
      persons:[
        {id:1,name:'自来也',age:45},
        {id:2,name:'大蛇丸',age:44},
        {id:3,name:'纲手',age:43},
        {id:4,name:'鸣人',age:18}
      ],
      obj:{
        name:'华哥殿下',
        age:38,
        gender:'女'
      }
    }
  })


  /*
  
    循环遍历数据------>通过v-for指令遍历vm实例对象中的相关数据
    遍历人的数据
    v-for指令:遍历数据的

    遍历数组的时候,v-for指令后面可以有两种写法:
    1. (item,index) in 数组名字---->item:数组中每一项,index是索引
    2. item in 数组名字------>item是数组中的每一项,
    遍历对象:
    (value,key,index) in 对象名字
    value----->对象中的某个键对应的值
    key---->对象中的键(属性)
    index---->索引(意义不大)
  
  
  */
</script>
</body>

</html>